$breakpoint-pc : 1440px;
$breakpoint-mobile: 375px;

//COLORS 
///primary colors

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-grey: hsl(0, 0%, 55%);
$very-dark-grey: hsl(0, 0%, 41%);

///neutral 
    //none

//FONTS And Typography
$alata: Alata;
$jofin: Josefin Sans;

